.item1 {color:white; font:Arial; background-color: red; font-size: 50px}

.item3 {color:black; font:Arial; font-size: 25px; font-weight: bold;}

.item3 {color:black; font:Arial; font-size: 15px;}

.item4 {color: black; font:Arial; padding: 25px;}

.item5 {color:white; font:Arial; font-size: 15px; background-color: rgb(55, 54, 54);}
